---
interface Props {
  imageUrl: string;
  imageAlt: string;
}

const { imageUrl, imageAlt } = Astro.props;
---

<section class="w-full bg-surface-container-high" id="imagen-destacada">
  <div class="w-full">
    <img
      alt={imageAlt}
      class="w-full h-72 md:h-[500px] object-cover shadow-xl"
      src={imageUrl}
    />
  </div>
</section>
