---
interface Props {
  headline: string;
  body: string;
}

const { headline, body } = Astro.props;
---

<section class="py-16 relative bg-brand-cream text-on-surface" id="ubicacion">
  <div class="max-w-5xl mx-auto px-8 text-center space-y-12">
    <h2
      class="text-4xl md:text-5xl font-headline font-bold text-primary tracking-tight"
    >
      {headline}
    </h2>
    <div class="gap-16 items-center">
      <p class="text-lg leading-relaxed text-on-surface text-center">
        {body}
      </p>
    </div>
  </div>
</section>
